.section {
  width: 90%;
  background: greenyellow;
  height: 68%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
  height: 100%;

  /* background: green; */
}
.left-section {
  background: green;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  position: relative;
  z-index: 2;
}

.right-section img {
  width: 520px;
  align-self: center;
  min-width: 480px;
  border-radius: 40px;
}

.frist-botton {
  width: 100%;
  background: var(--cor-2);
  height: 20%;
  z-index: 2;
}
.botton-frist-section {
  position: relative;
  margin: 0px 5%;
}
.detalhe-img-right {
  position: absolute;
  width: 12px;
  height: 300px;
  background: var(--cor-2);
  bottom: -50%;
  right: 40%;
  content: "";
  z-index: -1;
}
